{% extends 'base.html.twig' %}

{% block title %}Connexion | C2Code
{% endblock %}
{# Metedesc fixe pour une page donnée #}
{% block meta_description %}
	Espace privé dun Compagnon de code
{% endblock %}

{% block body %}
	<section class="customContainer">
		<h3 class="mx-auto my-3 h3 text-clip xs:my-4 md:my-5">Salut {{ app.user.pseudo |upper }} !</h3>
	
	</div>

{% endblock %}

