{% extends 'base.html.twig' %}

{% block title %}Profil | C2Code
{% endblock %}
{# Metedesc fixe pour une page donnée #}
{% block meta_description %}
	Espace privé dun Compagnon de code
{% endblock %}

{% block body %}
	<section class="customContainer">
		<h3 class="mx-auto my-3 h3 text-clip xs:my-4 md:my-5">Salut
			{{ app.user.pseudo |upper }}
			!</h3>


		<div class="customForm">
			{{ form(modifyPwd) }}
			</div>
		</div>
		<a href={{ path('app_account') }}>
			<p class="text-center buttonSecondary max-w-[600px] mx-auto">Retour</p>
		</a>
	</section>
{% endblock %}
