{% extends 'base.html.twig' %}

{% block title %}Accueil | C2Code
{% endblock %}
{% block meta_description %}
    Bienvenue chez le Compagnon de code. Faisons des projets pour valider vos connaissances en développement web.
{% endblock %}

{% block body %}


	<section class=''>

		
	</section>
{% endblock %}
