{% extends 'base.html.twig' %}

{% block title %}C2Code | Accueil{% endblock %}

{% block body %}



<section class=''>
    
    <h1 class="text-5xl text-purple-500 underline">Coucou le monde !</h1>
</section>
{% endblock %}
