{% extends 'base.html.twig' %}

{% block title %}Accueil | C2Code
{% endblock %}
{# Meta desc dynamique, bien pour les articles ar exemeple #}
{% block meta_description %}
	{{ meta_description }}
{% endblock %}

{% block body %}

	<section class="customContainer">
		<h1 class="mx-auto mt-5 mb-3 h1 text-clip xs:my-6 md:my-7">Compagnon de code !</h1>
		<h2 class="mx-auto -translate-y-6 h2 text-neutral-300">Consolidons vos Connaissances !</h2>

		{% include 'components/spacing.html.twig' %}

		<div class='w-full p-2 border color-shadow-md rounded-xl md:p-3 lg:p-4 bg-color-reverse text-col1 border-col1'>
			<h3 class="mx-auto mb-5 h3 text-clip">L'apprentissage du Dev Web :
			</h3>

			<p class="p ">- Apprends les bases grâce à des tutos et la documentation.</p>
			<p class="p ">- Fais des projets accompagnés pour mettre en pratique.
			</p>
			<p class="my-3 h4 text-clip">Le plus important ?</p>

			<h3 class="h3 ">Fais des projets personnels ! Challenge toi !!!</h3>
			<p class="mx-auto h3">&</p>
			<p class="p text-end">En tant que
				<span class="text-clip">Compagnon de Code</span>,</p>
			<p class="p text-end">je ferai mon possible pour être à tes côtés sur cette seconde partie 😉.</p>
		</div>
		{% include 'components/spacing.html.twig' %}

		<h2 class="mx-auto mb-8 h2 text-clip">Dernièrement...</h2>

		<div class="flex justify-between w-full max-lg:flex-col max-lg:gap-y-6">
			{% for article in articles  %}
				{{ include('components/card.html.twig', { article: article }) }}
			{% endfor %}
		</div>


	</section>
{% endblock %}
