{% extends 'base.html.twig' %}

{% block title %}Accueil | C2Code
{% endblock %}
{# Meta desc dynamique, bien pour les articles ar exemeple #}
{% block meta_description %}
	{{ meta_description }}
{% endblock %}

{% block body %}

	<section class="customContainer">
		<h3 class="mx-auto my-5 h3 text-clip xs:my-6 md:my-7">Bienvenue chez le Compagnon de code !</h3>
	</section>
{% endblock %}
