{% extends 'base.html.twig' %}

{% block title %}Accueil | C2Code
{% endblock %}
{# Meta desc dynamique, bien pour les articles ar exemeple #}
{% block meta_description %}
	{{ meta_description }}
{% endblock %}

{% block body %}

	<section class="customContainer">
		<h1 class="mx-auto mt-5 mb-3 h1 text-clip xs:my-6 md:my-7">Compagnon de code !</h1>
		<h2 class="mx-auto -translate-y-6 h2 text-neutral-300">Consolidons vos Connaissances !</h2>

		<div class='w-full p-2 color-shadow-md rounded-xl md:p-3 lg:p-4 bg-color-reverse'>
			<h3 class="mx-auto mb-5 h3 text-clip">L'apprentissage du Dev Web :
			</h3>

			<p class="p text-col1">- Apprends les bases grâce à des tutos et la documentation.</p>
			<p class="p text-col1">- Fais des projets accompagnés pour mettre en pratique.
			</p>
			<p class="my-3 h4 text-clip">Le plus important ?</p>

			<h3 class="h3 text-col1">Fais des projets personnels ! Challenge toi !!!</h3>
		</div>

	</section>
{% endblock %}
