{% extends 'base.html.twig' %}

{% block title %}Nouvel Article | C2Code
{% endblock %}
{# Meta desc dynamique, bien pour les articles ar exemeple #}
{% block meta_description %}
	Bienvenue chez le Compagnon de code. Ecrivez un nouvel article !
{% endblock %}

{% block body %}
	<section class="customContainer">
		<h3 class="mx-auto my-5 h3 text-clip xs:my-6 md:my-7">Ecrivons un nouvel article !</h3>
		{# {{dump(app.user)}} #}
		<div class="customForm">

			</div>

		</section>
	{% endblock %}
