{% extends 'base.html.twig' %}

{% block title %}Admin | Utitlisateurs | C2Code
{% endblock %}
{# Meta desc dynamique, bien pour les articles ar exemeple #}


{% block body %}

	<section class="customContainer">
		<h3 class="mx-auto my-5 h3 text-clip xs:my-6 md:my-7">Administration : Gestion des utilisateurs</h3>
        
        {{ dump(users) }}

        

	</section>
{% endblock %}
