{% extends 'base.html.twig' %}

{% block title %}Lessons index
{% endblock %}

{% block body %}
	<section class="">
		<h3 class="mx-auto my-5 text-center h3 text-clip xs:my-6 md:my-7">Création d'une Leçon pour :
			<br>
			{{course.title}}
		</h3>

    {{ include('lessons/_form.html.twig') }}

    <a href="{{ path('app_lessons_show', {'slug': slug}) }}"><div class="w-full mx-auto text-center buttonSecondary xs:w-3/4 md:w-1/2">Retour</div></a>
    </section>
{% endblock %}
