{% extends 'base.html.twig' %}

{% block title %}Hello TutosController!
{% endblock %}
{% block meta_description %}
	{{ meta_description }}
{% endblock %}
{% block body %}

	<section class="">
		<h1 class="mx-auto mt-5 mb-3 h1 text-clip xs:my-6 md:my-7">Compagnon de code</h1>
		<h2 class="mx-auto -translate-y-6 h2 text-neutral-300">Creusons une notion ensemble !</h2>
		{% include 'components/spacing.html.twig' %}
		<div class='w-full p-2 border color-shadow-md rounded-xl md:p-3 lg:p-4 bg-color-reverse text-col1 border-col1'>
			<h3 class="mx-auto mb-5 h2 text-clip">Des notions pour compléter les projets !</h3>
			<p class="p ">Les projets ne peuvent pas englober TOUTES les notions d'un langage.</p>
			<p class='p'>Ajoutons des articles/vidéos complémentaires, ça ne fera pas de mal !</p>
			<p class="mx-auto h3 text-clip">&</p>
			<p class="p text-end">Je reste disponible aux demandes d'informations,</p>
			<p class="p text-end">Pour vous proposer ce dont VOUS avez besoin.</p>
			<div class="flex justify-end w-full">
				<p class="text-clip h4">Allons creuser ensemble !</p>
			</div>
		</div>
		{% include 'components/spacing.html.twig' %}
	</section>
{% endblock %}
