{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
    <section class="">
		<h3 class="mx-auto my-5 h3 text-clip xs:my-6 md:my-7">
    Les Articles : Création </h3>

    {{ include('creator/articles/_form.html.twig') }}

    <a href="{{ path('app_creator_articles_index') }}"><div class="text-center buttonSecondary">Retour</div></a>
    		</section>

{% endblock %}
