.one_article {
  h1 {
    font-size: clamp(23px, calc(20px + 1.65vw), 40px);
    letter-spacing: calc(1px + 0.12vw);
    font-weight: bold;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    color: $col2;
    font-family: "Labrada";
  }
  h2 {
    font-size: clamp(20px, calc(20px + 1vw), 29px);
    letter-spacing: calc(1px + 0.04vw);
    font-weight: bold;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: "Labrada";
  }
  h3 {
    font-size: clamp(18px, calc(14px + 0.7vw), 22px);
    letter-spacing: calc(1px + 0.02vw);
    font-weight: bold;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: "Labrada";
  }
  h4 {
    font-size: clamp(16px, calc(14px + 0.4vw), 20px);
    letter-spacing: calc(1px + 0.01vw);
    font-weight: bold;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: "Labrada";
  }
  h5 {
    font-size: clamp(16px, calc(10px + 0.4vw), 20px);
    letter-spacing: calc(0.8px + 0.01vw);
    font-weight: bold;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: "Labrada";
  }
  p {
    font-size: clamp(16px, calc(10px + 0.4vw), 20px);
    letter-spacing: calc(0.4px + 0.01vw);
    line-height: clamp(30px, calc(24px + 0.66vw), 36px);
    font-family: "Roboto";
    font-family: "Reem Kufi fun";
  }
  strong {
    font-weight: bold;
    color: $col2;
  }
  iframe {
    border-radius: 10px;
    box-shadow: 2px 2px 10px $col2;
    border: 1px solid $col1;
    margin: 0 auto;
    width: 85vw;
    height : 47.8vw;
    max-height:314px;
    max-width: 560px;
    
  }

}

code{
  display: block;
  background-color: #fff;
  color:purple;
  padding: 5px 10px;

}
