.style_HTML {
  background-color: rgb(251 213 213 / 0.9);
}
.style_CSS {
  background-color: rgb(195 221 253 / 0.9);
}
.style_JAVASCRIPT {
  background-color: rgb(253 246 178 / 0.9);
}
.style_PHP {
  background-color: rgb(229 224 254 / 0.9);
}
.style_REACT {
  background-color: rgb(207 250 254 / 0.9);
}
.style_NEXT {
  background-color: rgb(245 245 245 / 0.9);
}
