.customForm{
  max-width: 600px; 
  border-radius: 0.75rem; 
  margin: 2rem auto; 
  background: linear-gradient(to left, $col4, $col3); 
  border: 2px solid $col1; 
  padding: 0.75rem 1rem; 
  box-shadow: 0px 0px 15px 6px $col2, inset 0px 0px 10px 4px $col2; 
}

/* For responsive padding adjustments */
@media (min-width: 640px) { /* xs breakpoint */
  .customContainer {
    padding: 0.75rem 1.5rem; /* xs:p-3 */
  }
}

@media (min-width: 768px) { /* md breakpoint */
  .customContainer {
    padding: 0.75rem 2rem; /* md:p-4 */
  }
}

.buttonValidation {
  width: 100%;
  padding: 0.5rem 0;
  margin: 1.25rem 0;
  font-weight: bold;
  border-radius: 0.5rem;
  background: $col1;
  color: $col3;
  transition: all 500ms ease;
  border : 2px solid $col2;
  box-shadow: 0px 3px 6px  $col2;
}

.buttonValidation:hover {
  background: $col2;
  color: $col4;
  letter-spacing: 0.3px;
  box-shadow: none;
  transform: translateY(3px) scale(0.999);
}


// chemin pour styliser les msg erreur dans formulaire
div.customForm>form>div>div>ul>li {
  color: rgb(250, 70, 70);
  font-size: 0.875rem; /* Taille plus petite */
  margin-top: 0.25rem;
  margin: 10px 0 ;
}