{% for lesson in lessons  %}

	<a href="{{ path('app_one_course', { slug: course.slug , position: lesson.position}) }}" class="flex items-center gap-2 p-2 duration-300 rounded-xl hover:text-col2 {{ lesson.isPremium ? 'text-amber-500' : 'text-col1' }} ">
		<div class="flex items-center justify-between w-full ">
			<div class="flex items-center gap-2">
				{% if lesson.type.type is same as "notion"  %}
					<i class="fa-solid fa-book-open"></i>
				{% elseif lesson.type.type is same as "exercice" %}
					<i class="fa-solid fa-screwdriver-wrench"></i>
				{% elseif lesson.type.type is same as "projet" %}
					<i class="fa-solid fa-rocket"></i>
				{% endif %}
				<p class="p">{{ lesson.title }}</p>
			</div>
			{% if lesson.isPremium  %}
				<i class="fa-solid fa-crown"></i>
			{% endif %}
		</div>
	</a>
{% endfor %}
<div class="flex flex-col mt-4 mb-3 border-t lg:mt-auto border-col1 text-col1">
	<h5 class="my-3 h5">Notice</h5>
	<p>
		<i class="fa-solid fa-book-open"></i>
		=> leçons</p>
	<p>
		<i class="fa-solid fa-screwdriver-wrench"></i>
		=> exercices
	</p>
	<p>
		<i class="fa-solid fa-rocket"></i>
		=> projets
	</p>
</div>
