{% extends 'base.html.twig' %}

{% block title %}Hello FavoritesController!
{% endblock %}

{% block body %}
	{# {{ dump(articles) }} #}

		<section class="">
		<h1 class="mx-auto mt-5 mb-3 h1 text-clip xs:my-6 md:my-7">Compagnon de Code</h1>
		<h2 class="mx-auto -translate-y-6 h2 text-neutral-300">Tes articles Favoris :</h2>
		{% include 'components/spacing.html.twig' %}
        <div class="flex flex-wrap justify-between w-full gap-5 max-lg:flex-col max-lg:gap-y-6 ">
			{% for article in articles  %}
				<div class="flex-col mx-auto flexMid ">
					{{ include('components/card.html.twig', { article: article }) }}
					
				</div>
			{% endfor %} 
		</div>
		{% include 'components/spacing.html.twig' %}
        </section>
{% endblock %}
