{% extends 'base.html.twig' %}

{% block title %}Les Tutoriels | C2Code
{% endblock %}
{% block meta_description %}
	{{ meta_description }}
{% endblock %}
{% block body %}

	<section class="">
		<h1 class="mx-auto mt-5 mb-3 h1 text-clip xs:my-6 md:my-7">Compagnon de code</h1>
		<h2 class="mx-auto -translate-y-6 h2 text-neutral-300">On est perdu ?</h2>
		
        <a href="{{path('app_home')}}">
            <h3 class="mx-auto h3 text-clip">Retour à l'accueil</h3>
        </a>
	</section>
{% endblock %}